.box {
  padding: 20px 20px;
  display: flex;
  flex-flow: column nowrap;
  //   justify-content: space-around;
}
.logo {
  & > img {
    width: 200px;
    height: 120px;
  }
}
.title {
  background-color: #efefef;
  padding: 0 6px;
  width: 100%;
  &__name {
    font-weight: 700;
    color: #000000;
    font-size: 18px;
  }
  &__desc {
    width: 60%;
    font-size: 16px;
    font-weight: 450;
    color: #000000;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
}
